---
import { Icon } from "astro-icon/components";
---

<footer class="bg-primary text-white py-6 mt-12">
  <div class="max-w-7xl mx-auto text-center">
    <p>&copy; 2025 FIEM ACM Student Chapter. All rights reserved.</p>
    <div class="flex justify-center mt-4 space-x-6">
      <a
        href="https://www.facebook.com/profile.php?id=61569985330638"
        target="_blank"
        aria-label="Facebook"
        rel="noopener noreferrer"
      >
        <Icon name="mdi:facebook" class="w-8 h-8" />
      </a>
      <a
        href="https://www.instagram.com/acmfiem/"
        target="_blank"
        aria-label="Instagram"
        rel="noopener noreferrer"
      >
        <Icon name="mdi:instagram" class="w-8 h-8" />
      </a>
      <a
        aria-label="Twitter"
        href="https://x.com/AcmFiem2857"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="mdi:twitter" class="w-8 h-8" />
      </a>
    </div>
  </div>
</footer>
